@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>



<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">Verification Report</h1>
                </div>
                    
                    <!-- /.col -->
                 <div>

                <button id="buttonpdf" class="btn btn-outline-danger">Generate PDF</button>


                <button class=" btn btn-outline-success" id="excelbtn"> Excel</button>

                </div>
            

                <table class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th> date</th>
                            &nbsp;
                            <th>customerId</th>
                            <th>uniqueId </th>
                            <th>Verification1 </th>
                            <th>captchaId</th>
                            <th>captchaReturn</th>
                            <th>digit </th>
                            <th>Verification2 </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vr in Model) // Loop through each Employee object in the model
                        {
                            <tr>
                                <td>@vr.DateTime</td>
                                <td>@vr.CustomerID</td>
                                <td>@vr.UniqueID</td>
                                <td>@vr.Verification1</td>
                                <td>@vr.CaptchaID</td>
                                <td>@vr.CaptchaReturn</td>
                                <td>@vr.Digit</td>
                                <td>@vr.Verification2</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.row -->

        </div><!-- /.container-fluid -->

    </div>
</div>

<!-- footer-->
<footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="https://kaizenvoiz.com/">Kaizen Voize</a>.</strong>
    developed by <b>Kaizen Voiz</b>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
    </div>
</footer>
<!--Footer End-->

<script>
    document.getElementById("excelbtn").addEventListener("click", function () {
        var table = document.querySelector("table");
        var sheet = XLSX.utils.table_to_sheet(table);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, sheet, "Sheet1");

        // Create a blob with the XLSX workbook and save it as a file
        XLSX.writeFile(workbook, "styleesheet_data.xlsx");
    });

    
    // PDF export

    document.getElementById("buttonpdf").addEventListener("click", function () {

        const timestamp = new Date().toLocaleString().replace(/[\/\\]/g, '_');

        const table = document.getElementById("datatable");

        const tableData = [];

        for (let row of table.rows) {

            const rowData = [];

            for (let cell of row.cells) {

                rowData.push(cell.textContent);

            }

            tableData.push(rowData);

        }

        const docDefinition = {

            content: [

                { text: 'Verification Report', style: 'header' },

                {

                    table: {

                        headerRows: 1,

                        widths: ['auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto'],

                        body: tableData,

                    },

                },

            ],

            styles: {

                header: {

                    fontSize: 18,

                    bold: true,

                    alignment: 'center',

                },

            },

        };
     
        pdfMake.createPdf(docDefinition).download(timestamp + "_Verification.pdf");

    });
</script>
 



